
            .navbar{
                background-color:#1F2833;
                overflow:hidden;
                padding:0px;
                background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQbh6X_w8xoI1hRNvnwhxffuLvc7DoRMmxOYQ&usqp=CAU");
            }
            .navbar li{
                list-style-type:none;
                float:left;
                color: #FFFFFF
            }
            .navbar a{
                color: inherit;
                text-decoration:none;
                font-size:24px;
                padding:16px;
                display:inline-block;
            }
            .navbar li:hover {
                background-color:black;
                background-image: linear-gradient(to bottom,#66FCF1,#1F2833);
                 color:aqua;
            }
        
         .dropdown-content li{
            float:none;
        }
        .dropdown-content{
            padding:0px;
            background-color:black;
            display:none;
            position:absolute;
        }
        .dropdown:hover .dropdown-content{
            display:block;
        }
        .navbar .active {
            background-color:black;
            background-image: linear-gradient(to bottom,#66FCF1,#1F2833);
            color:aqua;
        }
       
     