        .background {
            background-color:#379683;
            background: linear-gradient()
        }
       .table tr td {
           border:5px solid black
       }
       .table tr th {
           border:5px solid black
       }
       .info {
           font-size:12px;
       }
       .line {
           color:black;
       }
        
