<style>
        h1 {
            color:white;
        }
        h2 {
            color:#BB86FC;
        }
        ol {
         color:White;
        }
        ol ul li {
         color:#03DAC6;
        }
        ul ul li {
         color:#03DAC6;
        }
        ul li {
         color:White;
        }
        table {
            border:5px Solid Black;
            text-align:right;
        }
        tr th {
            color:#BB86FC;
            background-color:Black;
        }
        .evenrow {
            background-color:Gray;
            color:Black;
        }
        .oddrow {
            color:#03DAC6;
            background-color:#636363;
        }
        </style>