        .background {
            background-color:#0B0C10;
            background-image:url("https://img.freepik.com/free-vector/black-carbon-industrial-background_79145-253.jpg?size=626&ext=jpg");
        }
       .table tr td {
            border-color:#66FCF1;
            border-style:solid;
       }
       .table tr th {
            border-color:#66FCF1;
       }
       .info {
           font-size:15px;
           color:#C5C6C7;
       }
       .line {
           color:#66FCF1;
       }
       .parahead {
           font-size:18px;
           color:#C5C6C7;
       }
      .mid {
           text-align:center;
           color:#C5C6C7;
       }
      .hed {
           color:#66FCF1;
           text-align:center;
       }
       .home {
           color:#C5C6C7;
       }
       .table {
            border-color:rgb(95, 117, 124);
            border-style:solid;
       }
